{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>
.hero-buttons {
    width: 95% !important;
}

.img-container {
	position: relative;
	display: inline-block;
}

.img-container img {
	display: block;
	width:64px;
	height:36px;
	filter: brightness(70%);
}

.img-container p {
	position: absolute;
	bottom: -35%;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 0.60vw;
	line-height: 90%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.letters {
    position: relative;
    display: inline-block;
    bottom: 25px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 1.1vw;
    font-weight: bold;
    vertical-align: middle;
    white-space: normal;
}
</style>
<link rel="stylesheet" href="{% static 'css/abilities_table.css' %}">
<script src="{% static 'js/abilities_helper.js' %}"></script>
<audio id="audio" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/d/df/Ward.mp3"></audio>


<div style="display:none">
<h1>Ability Draft Helper v2.14</h1>
<h4>All data used come from <a href="abilitydraft.datdota.com">abilitydraft.datdota.com</a>,
    huge thanks to <a href="https://twitter.com/Noxville">Noxville</a>.</h4>
<h3>How To Use</h3>
<p style="font-size: 20px">
	The table below shows winrates and average pick orders of abilities,
	based on primary attribute, attack type or just total winrate/pick order in high skill games. <br>
	You can click on a hero's picture and it will be added to the filter. <br>
	The search bar uses regex to filter abilities of multiple heroes. <br>
	Example: <i>Axe|Lion|Cryst|Kunk|Void S|Terr</i><br>
    Will find abilities of Axe, Lion, Crystal Maiden, Kunkka, Void Spirit and Terrorblade.<br>
    You can click on an ability (in the ability column) and its row will be deleted from the result.</p>
</div>

<div id="heroTables" style="width: 90rem;">
	<div id="heroTableRadiantBlock" style="width: 50%; float: left;">
		<div class="heroTableTitle">Radiant Models</div>
		<table id="heroTableRadiant" class="table center-table center table-striped table-bordered table-sm herotable" cellspacing="0" width="65%">
		<thead>
		<tr>
		<th style="width: 20rem;" class="text-center">Hero</th>
		<th style="width: 2rem;"  class="text-center">Winrate</th>
		</tr>
		</thead>
		<tbody>

		{% for hero in heroes %}

		<tr>
		<td class="text-center">{{ hero.name }}</td>
		<td class="text-center">{{ hero.winrate }}%</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
	<div id="heroTableDireBlock" style="width: 50%; float: left;">
		<div class="heroTableTitle">Dire Models</div>
		<table id="heroTableDire" class="table center-table center table-striped table-bordered table-sm herotable" cellspacing="0" width="65%">
		<thead>
		<tr>
		<th style="width: 20rem;" class="text-center">Hero</th>
		<th style="width: 2rem;"  class="text-center">Winrate</th>
		</tr>
		</thead>
		<tbody>

		{% for hero in heroes %}

		<tr>
		<td class="text-center">{{ hero.name }}</td>
		<td class="text-center">{{ hero.winrate }}%</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
</div>
<div id="comboTableBlock" style="width: 90rem; margin-bottom: 2rem; float: left;">
	<div class="heroTableTitle">Strong Combos</div>
	<table id="comboTable" class="table center-table center table-striped table-bordered table-sm herotable" cellspacing="0" width="65%">
	<thead>
	<tr>
	<th style="width: 34%;" class="text-center removable">Combo</th>
	<th style="width: 0%;"  class="text-center">Hero 1</th>
	<th style="width: 0%;"  class="text-center">Hero 2</th>
	<th style="width: 22%;"  class="text-center">Winrate</th>
	<th style="width: 22%;"  class="text-center">Synergy</th>
	<th style="width: 22%;"  class="text-center">Sample size</th>
	</tr>
	</thead>
	<tbody>

	{% for combo in combos %}

	<tr>
	<td class="text-center removable">
		<img src="{% static combo.ability_1_image %}" width="45" height="45">
		<img src="{% static combo.ability_2_image %}" width="45" height="45">
		<br><p style="display: none"> {{ combo.ability_1_name }} – {{ combo.ability_2_name }} </p></td>
	<td class="text-center">{{ combo.ability_1_hero }}</td>
	<td class="text-center">{{ combo.ability_2_hero }}</td>
	<td class="text-center">{{ combo.total_winrate }}%</td>
	<td class="text-center">{{ combo.synergy }}%</td>
	<td class="text-center">{{ combo.sample }}</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>
</div>
<div id="buttonsList">
	<button onclick="generateComboTable()">Regenerate Combos</button>
	<button onclick="switchHeroModelTable()">Switch Model Table</button>
	<button onclick="generateShareableLink()">Generate Permanent Link</button>
	<button onclick="switchAllExceptAbilities()">Switch All Except Abilities</button>
</div>
<div id="heroCount" style="margin-bottom: 1rem; margin-top: 1rem; clear: both">Hero count: </div>
<div id="heroList" style="margin-bottom: 1rem; margin-top: 1rem; clear: both">Replaced ultimates count: </div>
<div style="width: 100%;">
	<div style="width: 90rem; float: left;">
		<table id="sortTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
		<thead>
		<tr>
		<th class="text-center" style="font-size: 20px; width: 25%">Ability</th>
		<th class="text-center" style="">Hero</th>
		<th class="text-center" style="font-size: 20px; width: 20%">Total (HS)</th>
		<th class="text-center" style="font-size: 20px; width: 20%">Avg pick (HS)</th>
		<th class="text-center" style="width: 7% !important">
			<img src="{% static 'blade_of_alacrity.png' %}" width="28" height="20"><br>Winrate</th>
		<th class="text-center" style="width: 7% !important">
			<img src="{% static 'staff_of_wizardry.png' %}" width="28" height="20"><br>Winrate</th>
		<th class="text-center" style="width: 7% !important">
			<img src="{% static 'ogre_axe.png' %}" width="28" height="20"><br>Winrate</th>
		<th class="text-center" style="width: 7% !important">Melee</th>
		<th class="text-center" style="width: 7% !important">Ranged</th>
		</tr>
		</thead>
		<tbody>

		{% for ability in abilities %}

		<tr>
		<td class="removable" style="font-weight: 600;"><img style="margin-left: 15%" src="{% static ability.image %}" width="50" height="50"> &nbsp &nbsp {{ ability.name }}</td>
		<td class="text-center">{{ ability.hero }}</td>
		<td class="text-center main-cols-font" >{{ ability.total_winrate }}%</td>
		<td class="text-center main-cols-font" >{{ ability.avg_pickorder }}</td>
		<td class="text-center extra-cols-font">{{ ability.agi_winrate }}%</td>
		<td class="text-center extra-cols-font">{{ ability.int_winrate }}%</td>
		<td class="text-center extra-cols-font">{{ ability.str_winrate }}%</td>
		<td class="text-center extra-cols-font">{{ ability.melee_winrate }}%</td>
		<td class="text-center extra-cols-font">{{ ability.ranged_winrate }}%</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
</div>
{% endblock %}