{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style></style>
<link rel="stylesheet" href="{% static 'css/abilities_table.css' %}">
<script src="{% static 'js/abilities.js' %}"></script>
<h1>Ability Draft Helper</h1>
<table id="sortTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="95%" >
<thead>
<tr>
<th class="text-center" style="font-size: 20px;">Ability</th>
<th class="text-center" style="font-size: 16px;">Hero</th>
<th class="text-center" style=" color: green;">Winrate</th>
<th class="text-center" style=" color: green;">Pick #</th>
<th class="text-center" style=" color: blue;">Winrate</th>
<th class="text-center" style=" color: blue;">Pick #</th>
<th class="text-center" style=" color: red;">Winrate</th>
<th class="text-center" style=" color: red;">Pick #</th>
<th class="text-center" style="">Melee</th>
<th class="text-center" style="">Pick #</th>
<th class="text-center" style="">Ranged</th>
<th class="text-center" style="">Pick #</th>
</tr>
</thead>
<tbody>

{% for ability in abilities %}

<tr class="remove">
<td class="text-center"><img src="{% static ability.image %}" width="50" height="50"><br>{{ ability.name }}</td>
<td class="text-center">{{ ability.hero }}</td>
<td class="text-center">{{ ability.agi_winrate }}</td>
<td class="text-center">{{ ability.agi_pickorder }}</td>
<td class="text-center">{{ ability.int_winrate }}</td>
<td class="text-center">{{ ability.int_pickorder }}</td>
<td class="text-center">{{ ability.str_winrate }}</td>
<td class="text-center">{{ ability.str_pickorder }}</td>
<td class="text-center">{{ ability.melee_winrate }}</td>
<td class="text-center">{{ ability.melee_pickorder }}</td>
<td class="text-center">{{ ability.ranged_winrate }}</td>
<td class="text-center">{{ ability.ranged_pickorder }}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}