{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>
.hero-buttons {
    width: 75% !important;
}

.img-container {
  position: relative;
  display: inline-block;
}

.img-container img {
  display: block;
  width:89px;
  height:50px;
  filter: brightness(70%);
}

.img-container p {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  transform: translate(0, -5, 0%);
  text-align: center;
  color: white;
  /*text-transform: uppercase;*/
  font-size: 0.65vw;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
</style>
<link rel="stylesheet" href="{% static 'css/abilities_table.css' %}">
<script src="{% static 'js/abilities_new.js' %}"></script>

<script>
function insertHeroName(text)
{
    var $searchBox = document.getElementsByClassName("form-control form-control-sm")[0];
    if ($searchBox.value) {
        $searchBox.value = $searchBox.value + "|" + text;
    }
    else {
        $searchBox.value = text;
    }
    $searchBox.focus();
    return text;
}
</script>

<h1>Ability Draft Helper v2.14</h1>
<h4>All data used come from <a href="abilitydraft.datdota.com">abilitydraft.datdota.com</a>,
    huge thanks to <a href="https://twitter.com/Noxville">Noxville</a>.</h4>
<p style="font-size: 16px">You can use regex in search bar to lookup abilites of multiple heroes.
    Example: Axe|Lion|Cryst|Kunk|Void S|Terr<br>
    Will find abilities of Axe, Lion, Crystal Maiden, Kunkka, Void Spirit and Terrorblade.<br>
    You can click on an ability (in the ability column) and its row will be deleted to help show what has already been picked.</p>

<div class="hero-buttons">
	<div class="img-container">
		<img src="{% static 'heroes/Abaddon.png' %}" onclick="insertHeroName('Aba')">
		<p onclick="insertHeroName('Aba')">Abaddon</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Alchemist.png' %}" onclick="insertHeroName('Alch')">
		<p onclick="insertHeroName('Alch')">Alche</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Axe.png' %}" onclick="insertHeroName('Axe')">
		<p onclick="insertHeroName('Axe')">Axe</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Beastmaster.png' %}" onclick="insertHeroName('Beastm')">
		<p onclick="insertHeroName('Beastm')">Beast</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Brewmaster.png' %}" onclick="insertHeroName('Brewm')">
		<p onclick="insertHeroName('Brewm')">Brew</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bristleback.png' %}" onclick="insertHeroName('Bristle')">
		<p onclick="insertHeroName('Bristle')">Bristle</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Centaur_Warrunner.png' %}" onclick="insertHeroName('Cent')">
		<p onclick="insertHeroName('Cent')">Centaur</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Chaos_Knight.png' %}" onclick="insertHeroName('Chaos')">
		<p onclick="insertHeroName('Chaos')">CK</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Clockwerk.png' %}" onclick="insertHeroName('Clock')">
		<p onclick="insertHeroName('Clock')">Clock</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dawnbreaker.png' %}" onclick="insertHeroName('Dawn')">
		<p onclick="insertHeroName('Dawn')">Dawn</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Doom.png' %}" onclick="insertHeroName('Doom')">
		<p onclick="insertHeroName('Doom')">Doom</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dragon_Knight.png' %}" onclick="insertHeroName('Dragon')">
		<p onclick="insertHeroName('Dragon')">DK</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Earth_Spirit.png' %}" onclick="insertHeroName('Earth S')">
		<p onclick="insertHeroName('Earth S')">Earth Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Earthshaker.png' %}" onclick="insertHeroName('Earthsh')">
		<p onclick="insertHeroName('Earthsh')">Earthshaker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Elder_Titan.png' %}" onclick="insertHeroName('Elder')">
		<p onclick="insertHeroName('Elder')">ET</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Huskar.png' %}" onclick="insertHeroName('Husk')">
		<p onclick="insertHeroName('Husk')">Huskar</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Io.png' %}" onclick="insertHeroName('Io ')">
		<p onclick="insertHeroName('Io ')">Wisp</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Kunkka.png' %}" onclick="insertHeroName('Kunk')">
		<p onclick="insertHeroName('Kunk')">Kunkka</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Legion_Commander.png' %}" onclick="insertHeroName('Legion')">
		<p onclick="insertHeroName('Legion')">Legion</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lifestealer.png' %}" onclick="insertHeroName('Lifes')">
		<p onclick="insertHeroName('Lifes')">Lifestealer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lycan.png' %}" onclick="insertHeroName('Lycan')">
		<p onclick="insertHeroName('Lycan')">Lycan</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Magnus.png' %}" onclick="insertHeroName('Magn')">
		<p onclick="insertHeroName('Magn')">Magnus</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Marci.png' %}" onclick="insertHeroName('Marc')">
		<p onclick="insertHeroName('Marc')">Marci</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Mars.png' %}" onclick="insertHeroName('Mars')">
		<p onclick="insertHeroName('Mars')">Mars</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Night_Stalker.png' %}" onclick="insertHeroName('Night')">
		<p onclick="insertHeroName('Night')">NS</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Omniknight.png' %}" onclick="insertHeroName('Omni')">
		<p onclick="insertHeroName('Omni')">Omni</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phoenix.png' %}" onclick="insertHeroName('Phoe')">
		<p onclick="insertHeroName('Phoe')">Phoenix</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pudge.png' %}" onclick="insertHeroName('Pudge')">
		<p onclick="insertHeroName('Pudge')">Pudge</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Sand_King.png' %}" onclick="insertHeroName('Sand')">
		<p onclick="insertHeroName('Sand')">Sand King</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Slardar.png' %}" onclick="insertHeroName('Slard')">
		<p onclick="insertHeroName('Slard')">Slardar</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Snapfire.png' %}" onclick="insertHeroName('Snap')">
		<p onclick="insertHeroName('Snap')">Snappy</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Spirit_Breaker.png' %}" onclick="insertHeroName('Spirit B')">
		<p onclick="insertHeroName('Spirit B')">SB</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Sven.png' %}" onclick="insertHeroName('Sven')">
		<p onclick="insertHeroName('Sven')">Sven</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tidehunter.png' %}" onclick="insertHeroName('Tide')">
		<p onclick="insertHeroName('Tide')">Tide</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Timbersaw.png' %}" onclick="insertHeroName('Timb')">
		<p onclick="insertHeroName('Timb')">Timber</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tiny.png' %}" onclick="insertHeroName('Tiny')">
		<p onclick="insertHeroName('Tiny')">Tiny</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Treant_Protector.png' %}" onclick="insertHeroName('Treant')">
		<p onclick="insertHeroName('Treant')">Treant</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tusk.png' %}" onclick="insertHeroName('Tusk')">
		<p onclick="insertHeroName('Tusk')">Tusk</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Underlord.png' %}" onclick="insertHeroName('Underl')">
		<p onclick="insertHeroName('Underl')">Underlord</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Undying.png' %}" onclick="insertHeroName('Undy')">
		<p onclick="insertHeroName('Undy')">Undying</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Wraith_King.png' %}" onclick="insertHeroName('Wraith')">
		<p onclick="insertHeroName('Wraith')">WK</p>
	</div>
</div>
<br>
<div class="hero-buttons">
	<div class="img-container">
		<img src="{% static 'heroes/Anti-Mage.png' %}" onclick="insertHeroName('Anti')">
		<p onclick="insertHeroName('Anti')">AM</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Arc_Warden.png' %}" onclick="insertHeroName('Arc')">
		<p onclick="insertHeroName('Arc')">Arc Warden</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bloodseeker.png' %}" onclick="insertHeroName('Bloods')">
		<p onclick="insertHeroName('Bloods')">Bloodseeker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bounty_Hunter.png' %}" onclick="insertHeroName('Bounty')">
		<p onclick="insertHeroName('Bounty')">BH</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Broodmother.png' %}" onclick="insertHeroName('Brood')">
		<p onclick="insertHeroName('Brood')">Brood</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Clinkz.png' %}" onclick="insertHeroName('Clin')">
		<p onclick="insertHeroName('Clin')">Clinkz</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Drow_Ranger.png' %}" onclick="insertHeroName('Drow')">
		<p onclick="insertHeroName('Drow')">Drow</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ember_Spirit.png' %}" onclick="insertHeroName('Ember')">
		<p onclick="insertHeroName('Ember')">Ember</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Faceless_Void.png' %}" onclick="insertHeroName('Facel')">
		<p onclick="insertHeroName('Facel')">Faceless</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Gyrocopter.png' %}" onclick="insertHeroName('Gyro')">
		<p onclick="insertHeroName('Gyro')">Gyro</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Hoodwink.png' %}" onclick="insertHeroName('Hood')">
		<p onclick="insertHeroName('Hood')">Hoodwink</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Juggernaut.png' %}" onclick="insertHeroName('Jugg')">
		<p onclick="insertHeroName('Jugg')">Jugg</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lone_Druid.png' %}" onclick="insertHeroName('Lone')">
		<p onclick="insertHeroName('Lone')">Lone Druid</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Luna.png' %}" onclick="insertHeroName('Luna')">
		<p onclick="insertHeroName('Luna')">Luna</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Medusa.png' %}" onclick="insertHeroName('Medu')">
		<p onclick="insertHeroName('Medu')">Medusa</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Meepo.png' %}" onclick="insertHeroName('Meep')">
		<p onclick="insertHeroName('Meep')">Meepo</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Mirana.png' %}" onclick="insertHeroName('Mira')">
		<p onclick="insertHeroName('Mira')">Mirana</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Monkey_King.png' %}" onclick="insertHeroName('Monke')">
		<p onclick="insertHeroName('Monke')">MK</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Morphling.png' %}" onclick="insertHeroName('Morph')">
		<p onclick="insertHeroName('Morph')">Morphling</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Naga_Siren.png' %}" onclick="insertHeroName('Naga')">
		<p onclick="insertHeroName('Naga')">Naga Siren</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Nyx_Assassin.png' %}" onclick="insertHeroName('Nyx')">
		<p onclick="insertHeroName('Nyx')">Nyx Assassin</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pangolier.png' %}" onclick="insertHeroName('Pango')">
		<p onclick="insertHeroName('Pango')">Pangolier</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phantom_Assassin.png' %}" onclick="insertHeroName('Phantom A')">
		<p onclick="insertHeroName('Phantom A')">PA</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phantom_Lancer.png' %}" onclick="insertHeroName('Phantom L')">
		<p onclick="insertHeroName('Phantom L')">PL</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Razor.png' %}" onclick="insertHeroName('Razor')">
		<p onclick="insertHeroName('Razor')">Razor</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Riki.png' %}" onclick="insertHeroName('Riki')">
		<p onclick="insertHeroName('Riki')">Riki</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Fiend.png' %}" onclick="insertHeroName('Shadow F')">
		<p onclick="insertHeroName('Shadow F')">SF</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Slark.png' %}" onclick="insertHeroName('Slark')">
		<p onclick="insertHeroName('Slark')">Slark</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Sniper.png' %}" onclick="insertHeroName('Snipe')">
		<p onclick="insertHeroName('Snipe')">Sniper</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Spectre.png' %}" onclick="insertHeroName('Spec')">
		<p onclick="insertHeroName('Spec')">Spectre</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Templar_Assassin.png' %}" onclick="insertHeroName('Templ')">
		<p onclick="insertHeroName('Templ')">TA</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Terrorblade.png' %}" onclick="insertHeroName('Terror')">
		<p onclick="insertHeroName('Terror')">TB</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Troll_Warlord.png' %}" onclick="insertHeroName('Troll')">
		<p onclick="insertHeroName('Troll')">Troll</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ursa.png' %}" onclick="insertHeroName('Ursa')">
		<p onclick="insertHeroName('Ursa')">Ursa</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Vengeful_Spirit.png' %}" onclick="insertHeroName('Venge')">
		<p onclick="insertHeroName('Venge')">Venge</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Venomancer.png' %}" onclick="insertHeroName('Veno')">
		<p onclick="insertHeroName('Veno')">Veno</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Viper.png' %}" onclick="insertHeroName('Viper')">
		<p onclick="insertHeroName('Viper')">Viper</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Weaver.png' %}" onclick="insertHeroName('Weaver')">
		<p onclick="insertHeroName('Weaver')">Weaver</p>
	</div>
</div>
<br>
<div class="hero-buttons">
	<div class="img-container">
		<img src="{% static 'heroes/Ancient_Apparition.png' %}" onclick="insertHeroName('Anci')">
		<p onclick="insertHeroName('Anci')">AA</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bane.png' %}" onclick="insertHeroName('Bane')">
		<p onclick="insertHeroName('Bane')">Bane</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Batrider.png' %}" onclick="insertHeroName('Batri')">
		<p onclick="insertHeroName('Batri')">Batrider</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Chen.png' %}" onclick="insertHeroName('Chen')">
		<p onclick="insertHeroName('Chen')">Chen</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Crystal_Maiden.png' %}" onclick="insertHeroName('Crys')">
		<p onclick="insertHeroName('Crys')">CM</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dark_Seer.png' %}" onclick="insertHeroName('Dark S')">
		<p onclick="insertHeroName('Dark S')">Dark Seer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dark_Willow.png' %}" onclick="insertHeroName('Dark W')">
		<p onclick="insertHeroName('Dark W')">Dark Willow</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dazzle.png' %}" onclick="insertHeroName('Dazz')">
		<p onclick="insertHeroName('Dazz')">Dazzle</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Death_Prophet.png' %}" onclick="insertHeroName('Death P')">
		<p onclick="insertHeroName('Death P')">DP</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Disruptor.png' %}" onclick="insertHeroName('Disr')">
		<p onclick="insertHeroName('Disr')">Disruptor</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Enchantress.png' %}" onclick="insertHeroName('Encha')">
		<p onclick="insertHeroName('Encha')">Enchantress</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Enigma.png' %}" onclick="insertHeroName('Enig')">
		<p onclick="insertHeroName('Enig')">Enigma</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Grimstroke.png' %}" onclick="insertHeroName('Grim')">
		<p onclick="insertHeroName('Grim')">Grimstroke</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Invoker.png' %}" onclick="insertHeroName('Invo')">
		<p onclick="insertHeroName('Invo')">Invoker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Jakiro.png' %}" onclick="insertHeroName('Jaki')">
		<p onclick="insertHeroName('Jaki')">Jakiro</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Keeper_of_the_Light.png' %}" onclick="insertHeroName('Keeper')">
		<p onclick="insertHeroName('Keeper')">KotL</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Leshrac.png' %}" onclick="insertHeroName('Lesh')">
		<p onclick="insertHeroName('Lesh')">Leshrac</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lich.png' %}" onclick="insertHeroName('Lich')">
		<p onclick="insertHeroName('Lich')">Lich</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lina.png' %}" onclick="insertHeroName('Lina')">
		<p onclick="insertHeroName('Lina')">Lina</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lion.png' %}" onclick="insertHeroName('Lion')">
		<p onclick="insertHeroName('Lion')">Lion</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Natures_Prophet.png' %}" onclick="insertHeroName('Natur')">
		<p onclick="insertHeroName('Natur')">Furion</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Necrophos.png' %}" onclick="insertHeroName('Necro')">
		<p onclick="insertHeroName('Necro')">Necrophos</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ogre_Magi.png' %}" onclick="insertHeroName('Ogre')">
		<p onclick="insertHeroName('Ogre')">Ogre Magi</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Oracle.png' %}" onclick="insertHeroName('Orac')">
		<p onclick="insertHeroName('Orac')">Oracle</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Outworld_Destroyer.png' %}" onclick="insertHeroName('Outwo')">
		<p onclick="insertHeroName('Outwo')">OD</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Puck.png' %}" onclick="insertHeroName('Puck')">
		<p onclick="insertHeroName('Puck')">Puck</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pugna.png' %}" onclick="insertHeroName('Pugna')">
		<p onclick="insertHeroName('Pugna')">Pugna</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Queen_of_Pain.png' %}" onclick="insertHeroName('Queen')">
		<p onclick="insertHeroName('Queen')">QoP</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Rubick.png' %}" onclick="insertHeroName('Rubick')">
		<p onclick="insertHeroName('Rubick')">Rubick</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Demon.png' %}" onclick="insertHeroName('Shadow D')">
		<p onclick="insertHeroName('Shadow D')">SD</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Shaman.png' %}" onclick="insertHeroName('Shadow S')">
		<p onclick="insertHeroName('Shadow S')">Rhasta</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Silencer.png' %}" onclick="insertHeroName('Sile')">
		<p onclick="insertHeroName('Sile')">Silencer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Skywrath_Mage.png' %}" onclick="insertHeroName('Skywr')">
		<p onclick="insertHeroName('Skywr')">Skywrath</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Storm_Spirit.png' %}" onclick="insertHeroName('Storm S')">
		<p onclick="insertHeroName('Storm S')">Storm Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Techies.png' %}" onclick="insertHeroName('Techi')">
		<p onclick="insertHeroName('Techi')">Techies</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tinker.png' %}" onclick="insertHeroName('Tink')">
		<p onclick="insertHeroName('Tink')">Tinker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Visage.png' %}" onclick="insertHeroName('Visage')">
		<p onclick="insertHeroName('Visage')">Visage</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Void_Spirit.png' %}" onclick="insertHeroName('Void S')">
		<p onclick="insertHeroName('Void S')">Void Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Warlock.png' %}" onclick="insertHeroName('Warl')">
		<p onclick="insertHeroName('Warl')">Warlock</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Windranger.png' %}" onclick="insertHeroName('Windr')">
		<p onclick="insertHeroName('Windr')">WR</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Winter_Wyvern.png' %}" onclick="insertHeroName('Winter W')">
		<p onclick="insertHeroName('Winter W')">WW</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Witch_Doctor.png' %}" onclick="insertHeroName('Witch D')">
		<p onclick="insertHeroName('Witch D')">Witch Doctor</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Zeus.png' %}" onclick="insertHeroName('Zeus')">
		<p onclick="insertHeroName('Zeus')">Zeus</p>
	</div>
</div>
<br>

<table id="sortTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="80%">
<thead>
<tr>
<th class="text-center" style="font-size: 20px;">Ability</th>
<th class="text-center" style="">Hero</th>
<th class="text-center" style="font-size: medium !important">
    <img src="{% static 'blade_of_alacrity.png' %}" width="33" height="24"><br>Winrate</th>
<th class="text-center" style="font-size: medium !important">
    <img src="{% static 'staff_of_wizardry.png' %}" width="33" height="24"><br>Winrate</th>
<th class="text-center" style="font-size: medium !important">
    <img src="{% static 'ogre_axe.png' %}" width="33" height="24"><br>Winrate</th>
<th class="text-center" style="font-size: medium !important">Melee</th>
<th class="text-center" style="font-size: medium !important">Ranged</th>
<th class="text-center" style="font-size: medium !important">Total (HS)</th>
<th class="text-center" style="font-size: medium !important">Avg pick (HS)</th>
</tr>
</thead>
<tbody>

{% for ability in abilities %}

<tr>
<td class="text-center removable"><img src="{% static ability.image %}" width="50" height="50"><br>{{ ability.name }}</td>
<td class="text-center">{{ ability.hero }}</td>
<td class="text-center stat-cell-font">{{ ability.agi_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.int_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.str_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.melee_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.ranged_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.total_winrate }}%</td>
<td class="text-center stat-cell-font">{{ ability.avg_pickorder }}</td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}