{% extends "base.html" %}
{% load static %}
{% block page_content %}

<style>
.hero-buttons {
    width: 95% !important;
}

.img-container {
	position: relative;
	display: inline-block;
}

.img-container img {
	display: block;
	width:64px;
	height:36px;
	filter: brightness(70%);
}

.img-container p {
	position: absolute;
	bottom: -35%;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 0.60vw;
	line-height: 90%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.letters {
    position: relative;
    display: inline-block;
    bottom: 25px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 1.1vw;
    font-weight: bold;
    vertical-align: middle;
    white-space: normal;
}
</style>
<link rel="stylesheet" href="{% static 'css/abilities_table.css' %}">
<script src="{% static 'js/abilities_helper.js' %}"></script>
<audio id="audio" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/d/df/Ward.mp3"></audio>
<div style="display:none">
<h1>Ability Draft Helper v2.14</h1>
<h4>All data used come from <a href="abilitydraft.datdota.com">abilitydraft.datdota.com</a>,
    huge thanks to <a href="https://twitter.com/Noxville">Noxville</a>.</h4>
<h3>How To Use</h3>
<p style="font-size: 20px">
	The table below shows winrates and average pick orders of abilities,
	based on primary attribute, attack type or just total winrate/pick order in high skill games. <br>
	You can click on a hero's picture and it will be added to the filter. <br>
	The search bar uses regex to filter abilities of multiple heroes. <br>
	Example: <i>Axe|Lion|Cryst|Kunk|Void S|Terr</i><br>
    Will find abilities of Axe, Lion, Crystal Maiden, Kunkka, Void Spirit and Terrorblade.<br>
    You can click on an ability (in the ability column) and its row will be deleted from the result.</p>
</div>
<button style="font-size: 0.8rem; margin-bottom: 20px !important;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsibleHeroButtons" aria-expanded="false" aria-controls="collapseExample">
	Show/Collapse Hero Buttons
</button>
<div class="collapse" id="collapsibleHeroButtons">
<div class="hero-buttons">
	<div class="letters"><p>A</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Abaddon.png' %}" onclick="insertHeroName('Abaddon')">
		<p onclick="insertHeroName('Abaddon')">Abaddon</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Alchemist.png' %}" onclick="insertHeroName('Alchemist')">
		<p onclick="insertHeroName('Alchemist')">Alchemist</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Axe.png' %}" onclick="insertHeroName('Axe')">
		<p onclick="insertHeroName('Axe')">Axe</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Anti-Mage.png' %}" onclick="insertHeroName('Anti-Mage')">
		<p onclick="insertHeroName('Anti-Mage')">Anti-Mage</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Arc_Warden.png' %}" onclick="insertHeroName('Arc Warden')">
		<p onclick="insertHeroName('Arc Warden')">Arc Warden</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ancient_Apparition.png' %}" onclick="insertHeroName('Ancient Apparition')">
		<p onclick="insertHeroName('Ancient Apparition')">Ancient Apparition</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>B</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Beastmaster.png' %}" onclick="insertHeroName('Beastmaster')">
		<p onclick="insertHeroName('Beastmaster')">Beastmaster</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Brewmaster.png' %}" onclick="insertHeroName('Brewmaster')">
		<p onclick="insertHeroName('Brewmaster')">Brewmaster</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bristleback.png' %}" onclick="insertHeroName('Bristleback')">
		<p onclick="insertHeroName('Bristleback')">Bristleback</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bane.png' %}" onclick="insertHeroName('Bane')">
		<p onclick="insertHeroName('Bane')">Bane</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Batrider.png' %}" onclick="insertHeroName('Batrider')">
		<p onclick="insertHeroName('Batrider')">Batrider</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bloodseeker.png' %}" onclick="insertHeroName('Bloodseeker')">
		<p onclick="insertHeroName('Bloodseeker')">Bloodseeker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Bounty_Hunter.png' %}" onclick="insertHeroName('Bounty Hunter')">
		<p onclick="insertHeroName('Bounty Hunter')">Bounty Hunter</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Broodmother.png' %}" onclick="insertHeroName('Broodmother')">
		<p onclick="insertHeroName('Broodmother')">Broodmother</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>C</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Centaur_Warrunner.png' %}" onclick="insertHeroName('Centaur Warrunner')">
		<p onclick="insertHeroName('Centaur Warrunner')">Centaur</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Chaos_Knight.png' %}" onclick="insertHeroName('Chaos Knight')">
		<p onclick="insertHeroName('Chaos Knight')">Chaos Knight</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Clockwerk.png' %}" onclick="insertHeroName('Clockwerk')">
		<p onclick="insertHeroName('Clockwerk')">Clockwerk</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Clinkz.png' %}" onclick="insertHeroName('Clinkz')">
		<p onclick="insertHeroName('Clinkz')">Clinkz</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Chen.png' %}" onclick="insertHeroName('Chen')">
		<p onclick="insertHeroName('Chen')">Chen</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Crystal_Maiden.png' %}" onclick="insertHeroName('Crystal Maiden')">
		<p onclick="insertHeroName('Crystal Maiden')">Crystal Maiden</p>
	</div>

</div>
<div class="hero-buttons">
	<div class="letters"><p>D</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Dawnbreaker.png' %}" onclick="insertHeroName('Dawnbreaker')">
		<p onclick="insertHeroName('Dawnbreaker')">Dawnbreaker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Doom.png' %}" onclick="insertHeroName('Doom')">
		<p onclick="insertHeroName('Doom')">Doom</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dragon_Knight.png' %}" onclick="insertHeroName('Dragon Knight')">
		<p onclick="insertHeroName('Dragon Knight')">Dragon Knight</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Drow_Ranger.png' %}" onclick="insertHeroName('Drow Ranger')">
		<p onclick="insertHeroName('Drow Ranger')">Drow Ranger</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dark_Seer.png' %}" onclick="insertHeroName('Dark Seer')">
		<p onclick="insertHeroName('Dark Seer')">Dark Seer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dark_Willow.png' %}" onclick="insertHeroName('Dark Willow')">
		<p onclick="insertHeroName('Dark Willow')">Dark Willow</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Dazzle.png' %}" onclick="insertHeroName('Dazzle')">
		<p onclick="insertHeroName('Dazzle')">Dazzle</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Death_Prophet.png' %}" onclick="insertHeroName('Death Prophet')">
		<p onclick="insertHeroName('Death Prophet')">Death Prophet</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Disruptor.png' %}" onclick="insertHeroName('Disruptor')">
		<p onclick="insertHeroName('Disruptor')">Disruptor</p>
	</div>

	</div>
<div class="hero-buttons">
	<div class="letters"><p>E F G</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Earth_Spirit.png' %}" onclick="insertHeroName('Earth Spirit')">
		<p onclick="insertHeroName('Earth Spirit')">Earth Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Earthshaker.png' %}" onclick="insertHeroName('Earthshaker')">
		<p onclick="insertHeroName('Earthshaker')">Earthshaker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Elder_Titan.png' %}" onclick="insertHeroName('Elder Titan')">
		<p onclick="insertHeroName('Elder Titan')">Elder Titan</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ember_Spirit.png' %}" onclick="insertHeroName('Ember Spirit')">
		<p onclick="insertHeroName('Ember Spirit')">Ember Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Enchantress.png' %}" onclick="insertHeroName('Enchantress')">
		<p onclick="insertHeroName('Enchantress')">Enchantress</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Enigma.png' %}" onclick="insertHeroName('Enigma')">
		<p onclick="insertHeroName('Enigma')">Enigma</p>
	</div>
		<div class="img-container">
		<img src="{% static 'heroes/Faceless_Void.png' %}" onclick="insertHeroName('Faceless Void')">
		<p onclick="insertHeroName('Faceless Void')">Faceless Void</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Gyrocopter.png' %}" onclick="insertHeroName('Gyrocopter')">
		<p onclick="insertHeroName('Gyrocopter')">Gyrocopter</p>
	</div>
		<div class="img-container">
		<img src="{% static 'heroes/Grimstroke.png' %}" onclick="insertHeroName('Grimstroke')">
		<p onclick="insertHeroName('Grimstroke')">Grimstroke</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>H I</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Huskar.png' %}" onclick="insertHeroName('Huskar')">
		<p onclick="insertHeroName('Huskar')">Huskar</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Hoodwink.png' %}" onclick="insertHeroName('Hoodwink')">
		<p onclick="insertHeroName('Hoodwink')">Hoodwink</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Io.png' %}" onclick="insertHeroName('Io ')">
		<p onclick="insertHeroName('Io ')">Io</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Invoker.png' %}" onclick="insertHeroName('Invoker')">
		<p onclick="insertHeroName('Invoker')">Invoker</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>J K</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Juggernaut.png' %}" onclick="insertHeroName('Juggernaut')">
		<p onclick="insertHeroName('Juggernaut')">Juggernaut</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Jakiro.png' %}" onclick="insertHeroName('Jakiro')">
		<p onclick="insertHeroName('Jakiro')">Jakiro</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Kunkka.png' %}" onclick="insertHeroName('Kunkka')">
		<p onclick="insertHeroName('Kunkka')">Kunkka</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Keeper_of_the_Light.png' %}" onclick="insertHeroName('Keeper of the Light')">
		<p onclick="insertHeroName('Keeper of the Light')">Keeper of the Light</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>L</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Legion_Commander.png' %}" onclick="insertHeroName('Legion Commander')">
		<p onclick="insertHeroName('Legion Commander')">Legion Commander</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lifestealer.png' %}" onclick="insertHeroName('Lifestealer')">
		<p onclick="insertHeroName('Lifestealer')">Lifestealer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lycan.png' %}" onclick="insertHeroName('Lycan')">
		<p onclick="insertHeroName('Lycan')">Lycan</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lone_Druid.png' %}" onclick="insertHeroName('Lone Druid')">
		<p onclick="insertHeroName('Lone Druid')">Lone Druid</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Luna.png' %}" onclick="insertHeroName('Luna')">
		<p onclick="insertHeroName('Luna')">Luna</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Leshrac.png' %}" onclick="insertHeroName('Leshrac')">
		<p onclick="insertHeroName('Leshrac')">Leshrac</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lich.png' %}" onclick="insertHeroName('Lich')">
		<p onclick="insertHeroName('Lich')">Lich</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lina.png' %}" onclick="insertHeroName('Lina')">
		<p onclick="insertHeroName('Lina')">Lina</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Lion.png' %}" onclick="insertHeroName('Lion')">
		<p onclick="insertHeroName('Lion')">Lion</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>M</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Magnus.png' %}" onclick="insertHeroName('Magnus')">
		<p onclick="insertHeroName('Magnus')">Magnus</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Marci.png' %}" onclick="insertHeroName('Marci')">
		<p onclick="insertHeroName('Marci')">Marci</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Mars.png' %}" onclick="insertHeroName('Mars')">
		<p onclick="insertHeroName('Mars')">Mars</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Medusa.png' %}" onclick="insertHeroName('Medusa')">
		<p onclick="insertHeroName('Medusa')">Medusa</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Meepo.png' %}" onclick="insertHeroName('Meepo')">
		<p onclick="insertHeroName('Meepo')">Meepo</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Mirana.png' %}" onclick="insertHeroName('Mirana')">
		<p onclick="insertHeroName('Mirana')">Mirana</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Monkey_King.png' %}" onclick="insertHeroName('Monkey King')">
		<p onclick="insertHeroName('Monkey King')">Monkey King</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Morphling.png' %}" onclick="insertHeroName('Morphling')">
		<p onclick="insertHeroName('Morphling')">Morphling</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>N</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Night_Stalker.png' %}" onclick="insertHeroName('Night Stalker')">
		<p onclick="insertHeroName('Night Stalker')">Night Stalker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Naga_Siren.png' %}" onclick="insertHeroName('Naga Siren')">
		<p onclick="insertHeroName('Naga Siren')">Naga Siren</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Nyx_Assassin.png' %}" onclick="insertHeroName('Nyx Assassin')">
		<p onclick="insertHeroName('Nyx Assassin')">Nyx Assassin</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Natures_Prophet.png' %}" onclick="insertHeroName('Nature\'s Prophet')">
		<p onclick="insertHeroName('Nature\'s Prophet')">Nature's Prophet</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Necrophos.png' %}" onclick="insertHeroName('Necrophos')">
		<p onclick="insertHeroName('Necrophos')">Necrophos</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>O P</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Omniknight.png' %}" onclick="insertHeroName('Omniknight')">
		<p onclick="insertHeroName('Omniknight')">Omniknight</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ogre_Magi.png' %}" onclick="insertHeroName('Ogre Magi')">
		<p onclick="insertHeroName('Ogre Magi')">Ogre Magi</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Oracle.png' %}" onclick="insertHeroName('Oracle')">
		<p onclick="insertHeroName('Oracle')">Oracle</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Outworld_Destroyer.png' %}" onclick="insertHeroName('Outworld Destroyer')">
		<p onclick="insertHeroName('Outworld Destroyer')">Outworld Destroyer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phoenix.png' %}" onclick="insertHeroName('Phoenix')">
		<p onclick="insertHeroName('Phoenix')">Phoenix</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pudge.png' %}" onclick="insertHeroName('Pudge')">
		<p onclick="insertHeroName('Pudge')">Pudge</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pangolier.png' %}" onclick="insertHeroName('Pangolier')">
		<p onclick="insertHeroName('Pangolier')">Pangolier</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phantom_Assassin.png' %}" onclick="insertHeroName('Phantom Assassin')">
		<p onclick="insertHeroName('Phantom Assassin')">Phantom Assassin</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Phantom_Lancer.png' %}" onclick="insertHeroName('Phantom Lancer')">
		<p onclick="insertHeroName('Phantom Lancer')">Phantom Lancer</p>
	</div>
	<div class="img-container">
	<img src="{% static 'heroes/Primal_Beast.png' %}" onclick="insertHeroName('Primal Beast')">
	<p onclick="insertHeroName('Primal Beast')">Primal Beast</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Puck.png' %}" onclick="insertHeroName('Puck')">
		<p onclick="insertHeroName('Puck')">Puck</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Pugna.png' %}" onclick="insertHeroName('Pugna')">
		<p onclick="insertHeroName('Pugna')">Pugna</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>Q R</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Queen_of_Pain.png' %}" onclick="insertHeroName('Queen of Pain')">
		<p onclick="insertHeroName('Queen of Pain')">Queen of Pain</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Razor.png' %}" onclick="insertHeroName('Razor')">
		<p onclick="insertHeroName('Razor')">Razor</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Riki.png' %}" onclick="insertHeroName('Riki')">
		<p onclick="insertHeroName('Riki')">Riki</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Rubick.png' %}" onclick="insertHeroName('Rubick')">
		<p onclick="insertHeroName('Rubick')">Rubick</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>S</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Sand_King.png' %}" onclick="insertHeroName('Sand King')">
		<p onclick="insertHeroName('Sand King')">Sand King</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Slardar.png' %}" onclick="insertHeroName('Slardar')">
		<p onclick="insertHeroName('Slardar')">Slardar</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Snapfire.png' %}" onclick="insertHeroName('Snapfire')">
		<p onclick="insertHeroName('Snapfire')">Snapfire</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Spirit_Breaker.png' %}" onclick="insertHeroName('Spirit Breaker')">
		<p onclick="insertHeroName('Spirit Breaker')">Spirit Breaker</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Sven.png' %}" onclick="insertHeroName('Sven')">
		<p onclick="insertHeroName('Sven')">Sven</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Fiend.png' %}" onclick="insertHeroName('Shadow Fiend')">
		<p onclick="insertHeroName('Shadow Fiend')">Shadow Fiend</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Slark.png' %}" onclick="insertHeroName('Slark')">
		<p onclick="insertHeroName('Slark')">Slark</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Sniper.png' %}" onclick="insertHeroName('Sniper')">
		<p onclick="insertHeroName('Sniper')">Sniper</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Spectre.png' %}" onclick="insertHeroName('Spectre')">
		<p onclick="insertHeroName('Spectre')">Spectre</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Demon.png' %}" onclick="insertHeroName('Shadow Demon')">
		<p onclick="insertHeroName('Shadow Demon')">Shadow Demon'</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Shadow_Shaman.png' %}" onclick="insertHeroName('Shadow Shaman')">
		<p onclick="insertHeroName('Shadow Shaman')">Shadow Shaman'</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Silencer.png' %}" onclick="insertHeroName('Silencer')">
		<p onclick="insertHeroName('Silencer')">Silencer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Skywrath_Mage.png' %}" onclick="insertHeroName('Skywrath Mage')">
		<p onclick="insertHeroName('Skywrath Mage')">Skywrath Mage</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Storm_Spirit.png' %}" onclick="insertHeroName('Storm Spirit')">
		<p onclick="insertHeroName('Storm Spirit')">Storm Spirit</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>T</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Tidehunter.png' %}" onclick="insertHeroName('Tidehunter')">
		<p onclick="insertHeroName('Tidehunter')">Tidehunter</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Timbersaw.png' %}" onclick="insertHeroName('Timbersaw')">
		<p onclick="insertHeroName('Timbersaw')">Timbersaw</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tiny.png' %}" onclick="insertHeroName('Tiny')">
		<p onclick="insertHeroName('Tiny')">Tiny</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Treant_Protector.png' %}" onclick="insertHeroName('Treant Protector')">
		<p onclick="insertHeroName('Treant Protector')">Treant Protector</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tusk.png' %}" onclick="insertHeroName('Tusk')">
		<p onclick="insertHeroName('Tusk')">Tusk</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Templar_Assassin.png' %}" onclick="insertHeroName('Templar Assassin')">
		<p onclick="insertHeroName('Templar Assassin')">Templar Assassin</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Terrorblade.png' %}" onclick="insertHeroName('Terrorblade')">
		<p onclick="insertHeroName('Terrorblade')">Terrorblade</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Troll_Warlord.png' %}" onclick="insertHeroName('Troll Warlord')">
		<p onclick="insertHeroName('Troll Warlord')">Troll Warlord</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Techies.png' %}" onclick="insertHeroName('Techies')">
		<p onclick="insertHeroName('Techies')">Techies</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Tinker.png' %}" onclick="insertHeroName('Tinker')">
		<p onclick="insertHeroName('Tinker')">Tinker</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>U V</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Underlord.png' %}" onclick="insertHeroName('Underlord')">
		<p onclick="insertHeroName('Underlord')">Underlord</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Undying.png' %}" onclick="insertHeroName('Undying')">
		<p onclick="insertHeroName('Undying')">Undying</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Ursa.png' %}" onclick="insertHeroName('Ursa')">
		<p onclick="insertHeroName('Ursa')">Ursa</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Vengeful_Spirit.png' %}" onclick="insertHeroName('Vengeful Spirit')">
		<p onclick="insertHeroName('Vengeful Spirit')">Vengeful Spirit</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Venomancer.png' %}" onclick="insertHeroName('Venomancer')">
		<p onclick="insertHeroName('Venomancer')">Venomancer</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Viper.png' %}" onclick="insertHeroName('Viper')">
		<p onclick="insertHeroName('Viper')">Viper</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Visage.png' %}" onclick="insertHeroName('Visage')">
		<p onclick="insertHeroName('Visage')">Visage</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Void_Spirit.png' %}" onclick="insertHeroName('Void Spirit')">
		<p onclick="insertHeroName('Void Spirit')">Void Spirit</p>
	</div>
</div>
<div class="hero-buttons">
	<div class="letters"><p>W Z</p></div>
	<div class="img-container">
		<img src="{% static 'heroes/Wraith_King.png' %}" onclick="insertHeroName('Wraith King')">
		<p onclick="insertHeroName('Wraith King')">Wraith King</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Weaver.png' %}" onclick="insertHeroName('Weaver')">
		<p onclick="insertHeroName('Weaver')">Weaver</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Warlock.png' %}" onclick="insertHeroName('Warlock')">
		<p onclick="insertHeroName('Warlock')">Warlock</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Windranger.png' %}" onclick="insertHeroName('Windranger')">
		<p onclick="insertHeroName('Windranger')">Windranger</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Winter_Wyvern.png' %}" onclick="insertHeroName('Winter Wyvern')">
		<p onclick="insertHeroName('Winter Wyvern')">Winter Wyvern</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Witch_Doctor.png' %}" onclick="insertHeroName('Witch Doctor')">
		<p onclick="insertHeroName('Witch Doctor')">Witch Doctor</p>
	</div>
	<div class="img-container">
		<img src="{% static 'heroes/Zeus.png' %}" onclick="insertHeroName('Zeus')">
		<p onclick="insertHeroName('Zeus')">Zeus</p>
    </div>
</div>
</div>
<br>
<div id="heroTables" style="width: 85rem;">
	<div style="width: 50%; float: left;">
		<div class="heroTableTitle">Radiant Models</div>
		<table id="heroTableRadiant" class="table center-table center  table-striped table-bordered table-sm herotable" cellspacing="0" width="40%">
		<thead>
		<tr>
		<th class="text-center">Hero</th>
		<th class="text-center">Winrate</th>
		</tr>
		</thead>
		<tbody>

		{% for hero in heroes %}

		<tr>
		<td class="text-center">{{ hero.name }}</td>
		<td class="text-center">{{ hero.winrate }}</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
	<div style="width: 50%; float: left;">
		<div class="heroTableTitle">Dire Models</div>
		<table id="heroTableDire" class="table center-table center table-striped table-bordered table-sm herotable" cellspacing="0" width="40%">
		<thead>
		<tr>
		<th class="text-center">Hero</th>
		<th class="text-center">Winrate</th>
		</tr>
		</thead>
		<tbody>

		{% for hero in heroes %}

		<tr>
		<td class="text-center">{{ hero.name }}</td>
		<td class="text-center">{{ hero.winrate }}</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
</div>
<div style="width: 100%;">
	<div style="width: 85rem; float: left;">
		<table id="sortTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
		<thead>
		<tr>
		<th class="text-center" style="font-size: 20px;">Ability</th>
		<th class="text-center" style="">Hero</th>
		<th class="text-center" style="font-size: medium !important">
			<img src="{% static 'blade_of_alacrity.png' %}" width="33" height="24"><br>Winrate</th>
		<th class="text-center" style="font-size: medium !important">
			<img src="{% static 'staff_of_wizardry.png' %}" width="33" height="24"><br>Winrate</th>
		<th class="text-center" style="font-size: medium !important">
			<img src="{% static 'ogre_axe.png' %}" width="33" height="24"><br>Winrate</th>
		<th class="text-center" style="font-size: medium !important">Melee</th>
		<th class="text-center" style="font-size: medium !important">Ranged</th>
		<th class="text-center" style="font-size: medium !important">Total (HS)</th>
		<th class="text-center" style="font-size: medium !important">Avg pick (HS)</th>
		</tr>
		</thead>
		<tbody>

		{% for ability in abilities %}

		<tr>
		<td class="text-center removable"><img src="{% static ability.image %}" width="50" height="50"><br>{{ ability.name }}</td>
		<td class="text-center">{{ ability.hero }}</td>
		<td class="text-center stat-cell-font">{{ ability.agi_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.int_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.str_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.melee_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.ranged_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.total_winrate }}%</td>
		<td class="text-center stat-cell-font">{{ ability.avg_pickorder }}</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
	</div>
</div>
{% endblock %}