.dataTables_wrapper .dataTables_filter{
    float: left;
}

#sortTable_filter > label{
    font-weight: bold !important;
    font-size: 20px !important;
}

.form-control-sm {
    height: calc(2.5em + 0.5rem + 2px) !important;
    }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.dataTables_wrapper .dataTables_length{
    float: right;
}
div.dataTables_wrapper div.dataTables_filter input {
      width: 300%;
}
#sortTable_wrapper > div:nth-child(1) > div:nth-child(1) {
    display:none;
}

.smaller-font {
    font-size: 14px;
}

.stat-cell-font {
    font-size: 18px !important;
}

td, th {
    vertical-align: middle !important;
    padding-right: 0px !important;
}

#sortTable > thead > tr > th:nth-child(1) {
    width: 10rem !important;
{
#sortTable > thead > tr > th:nth-child(2) {
    width: 1.5rem !important;
{
#sortTable > thead > tr > th:nth-child(3) {
    width: 2.5rem !important;
{
#sortTable > thead > tr > th:nth-child(4) {
    width: 1.5rem !important;
{
#sortTable > thead > tr > th:nth-child(5) {
    width: 2.5rem !important;
{
#sortTable > thead > tr > th:nth-child(6) {
    width: 1.5rem !important;
{
#sortTable > thead > tr > th:nth-child(7) {
    width: 2.5rem !important;
{
#sortTable > thead > tr > th:nth-child(8) {
    width: 1.5rem !important;
{