.content {
  display: block;
}
.active, .collapsible:hover {
  background-color: #555;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 9px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

a {
    color: #3391ff;
}
#sortTable_filter > label > input {
      width: 85rem;
      margin-left: 0rem !important;
}

#heroTableRadiant_filter {
display: none !important;
}

#heroTableDire_filter {
display: none !important;
}

#comboTable_filter > label > input {
      width: 250%;
}

html {
    background-color: #181a1b !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

html, body, input, textarea, select, button {
    border-color: #736b5e;
    background-color: rgb(24, 26, 27);
    color: #e8e6e3;
}
img {
    border: 1px solid rgb(48, 52, 54);
}

table {
    border-color: #545b5e;
}

td, th {
    vertical-align: middle !important;
    padding-right: 0px !important;
    width: 10rem;
}

.dataTables_wrapper .dataTables_filter{
    float: left;
}

.dataTables_wrapper .dataTables_length{
    float: right;
}
.form-control {
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
    border-top-color: rgb(60, 65, 68);
    border-right-color: rgb(60, 65, 68);
    border-bottom-color: rgb(60, 65, 68);
    border-left-color: rgb(60, 65, 68);
}

#sortTable_filter > label > .form-control-sm {
    height: calc(2.5em + 0.5rem + 2px) !important;
    font-size: 18px !important;
}

#comboTable_filter > label > .form-control-sm {
    height: calc(2.5em + 0.5rem + 2px) !important;
    font-size: 14px !important;
}

.smaller-font {
    font-size: 14px;
}

.stat-cell-font {
    font-size: 18px !important;
}

.table thead th {
    border-bottom-color: rgb(56, 61, 63);
    border-top-width: 0px;

}
.table {
    color: rgb(209, 205, 199);
}

.table-bordered, .table-bordered td, .table-bordered th {
    border-color: rgb(120, 112, 99) !important;
}

#sortTable > thead > tr > th:nth-child(1) {
    width: 15rem !important;
}

#heroTables {
    margin-left: 0%;
}

.heroTableTitle {
    text-align: center !important;
    font-size: 18px !important;
}

.center-table {
    margin: auto;
}

#sortTable {
    column-width: 4rem;
}

#heroTableRadiant_wrapper {
    padding-bottom: 20px;
}

#heroTableRadiant_wrapper > div:nth-child(3){
    display:none;
}

#heroTableDire_wrapper > div:nth-child(3){
    display:none;
}

#sortTable_wrapper > div:nth-child(3) {
    display:none;
}

#sortTable_wrapper > div:nth-child(1) > div:nth-child(1) {
    display:none;
}
#sortTable_wrapper > div:nth-child(1) > div:nth-child(2) {
}
#comboTable_wrapper > div:nth-child(3) {
    display:none;
}

#sortTable_filter > label {
    font-weight: bold !important;
    font-size: 25px !important;
}

#comboTable_filter > label {
    font-size: 0px !important;
}


